@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Sawarabi Mincho";
    font-display: swap;
    font-weight: 500;
    font-size: 16px;
    color: blanchedalmond;
    text-decoration: none;
}

  
textarea, input{
    resize: vertical;
    background-color: white;
    width: 80%;
    height: auto;
    font-size: 28px;
}

textarea {
    margin-bottom: 50px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    max-width: 80%;
    height: auto;
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
    color: #0088A9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    width: 120px;
}

button:hover {
    background-color: rgba(0,136,169,0);
    border: 2px rgba(0,136,169,1);
}

.ads__img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
    cursor: pointer;
    border-radius: 1000px;
}

.button__center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cta {
    padding: 10px;
    margin: 5px ;
}

.container {
    background-color: rgba(0,136,169,1);
    color: white;
    border-radius: 26px;
    height: auto;
    margin: 25px auto 60px auto;
    padding: 30px;
    width: 70%;
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
}

.container h3 {
    background-color: rgba(0,136,169,1);
    margin: 20px;
}

.text {
    font-size: 58px;
    color: white;
    line-height: 1.2;
    text-align: center;
}

footer {
    /* background-color: white; */
    background-color: rgb(36, 37, 42);
    width: auto;
    height: auto;
    width: 100%;
    /* position: absolute; */
    padding-top: 40px;
    bottom: 0;
}
.footer__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.footer__content h3{
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #FFF;
}

.footer__content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
    color: #FFF;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10%;
    color: white;
    margin: 20px;
}

.social li {
    margin: 0px 10px;
}

.social a {
    text-decoration: none;
    color: white;
}

.social a i {
    font-size: 1.1rem;
}

.footer__bottom {
    background-color: rgb(28, 28, 29);
    height: 56px;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0%;
}

.footer__bottom p{
    background-color: rgb(28, 28, 29);
    font-size: 20;
    word-spacing: 2px;
    text-transform: capitalize;
}
